<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Book shop</title>

<link href="/css/cart.css" th:href="@{/css/cart.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="fragments/page_header::fragment_header">
	
</header>
<main>
	<div class="wrapper">
		<h2>カート</h2>
		<div class="content" >
			<table th:if="${carts != null && carts.size() > 0}">
				<thead>
					<tr>
						<th>選択</th>
						<th>画像</th>
						<th>商品名</th>
						<th>価格(円)</th>
						<th>個数</th>
						<th>小計(円)</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="2"></td>
						<td colspan="2">合計(円)</td>
						<td id="totalCount"></td>
						<td id="totalPrice"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr th:each="cart: ${carts}">
						<td><input type="checkbox" class="checkList" name="id" th:value="${cart.id}"/></td>
						<td><img th:src="@{{imagePath} (imagePath=${cart.imageFullPath}) }"/></td>
						<td th:text="${cart.productName}" />
						<td class="number" th:text="${cart.price}" />
						<td class="productCount number" th:text="${cart.productCount}" />
						<td class="subtotal number" th:text="${cart.subtotal}" />
					</tr>
				</tbody>
			</table>
			<div class="purchaseBtn" th:if="${carts != null && carts.size() > 0}">
				<button id="deleteButton" disabled>削除</button>
				<form action="/peace/settlement/">
					<button type="submit" id="settlementButton">購入</button>
				</form>
			</div>
			<div th:if="${carts == null || carts.size() == 0}">
				<p>カート情報はありません。</p>
			</div>
		</div>
	</div>
</main>	
<script  th:inline="javascript">
/*<![CDATA[*/
$(() => {
	// 購入個数と金額の合計を算出し、合計欄に設定する
	calcTotalArea();
	
	$('#deleteButton').on('click', () => {
		let checkedList = $('.checkList:checked');
		let checkedIdList = [];
		for (checked of checkedList) {
			checkedIdList.push($(checked).val());
		}
		deleteCart(checkedList, checkedIdList);
	});

	$('.checkList').on('change', changeDisable);
	
	$('#settlementButton').on('click', function() {
		let userId = /*[[${loginSession.getUserId()}]]*/;
		if (userId == 0 && isEmpty($('#hiddenUserName').val())) {
			alert("ログインしてください。");
			return false;
		}
	});
	
});

function deleteCart(checkedList, checkedIdList) {
	$.ajax({
    type: 'POST',
    url: '/peace/cart/delete',
    data: JSON.stringify({'checkedIdList': checkedIdList}),
    datatype: 'json',
    contentType: 'application/json',
  })
  .then((result) => {
		for (checked of checkedList) {
			$(checked).parent().parent().remove();
		}
		
		let checkList = $('.checkList');
		if (checkList.length == 0) {
			location.replace('/peace/cart/');
		}
		// 購入個数と金額の合計を算出し、合計欄に設定する
		calcTotalArea();
		changeDisable();
  }, () => {
	  alert('Error: ajax connection failed.');
  });	  
}

let changeDisable = (event) => {
	let checkList = $('.checkList');
	let disabled = true;
	for (let check of checkList) {
		if($(check).prop('checked')) {
			disabled = false;
			break;
		}
	}
	$("#deleteButton").prop("disabled", disabled);
}

function calcTotalArea() {
	let subtotalList = $('.subtotal');
	let countList = $('.productCount');
	let totalPrice = 0;
	let totalCount = 0;
	
	$(subtotalList).each((i, subtotal) => {
		totalPrice += parseInt($(subtotal).text());
		totalCount += parseInt($(countList[i]).text());
	});
	


	$('#totalPrice').text(totalPrice);
	$('#totalCount').text(totalCount);
}
/*]]>*/
</script>
</body>
</html>